[MASTER]
ignore=.venv
jobs=0

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    broad-exception-caught,
    line-too-long,
    too-many-arguments,
    too-many-positional-arguments,
    too-many-locals,
    too-many-branches,
    too-many-instance-attributes,
    redefined-outer-name,
    unused-variable

[FORMAT]
max-line-length=100

[TYPECHECK]
ignore-mixin-members=yes
